/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-emphasis-100);
}

.heroText {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImage {
    max-width: 100%;
    height: auto;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.quoteSection {
    padding: 4rem 0;
    background-color: var(--ifm-color-emphasis-0);
}

.quote {
    font-size: 1.5rem;
    font-style: italic;
    border-left: 5px solid var(--ifm-color-primary);
    padding-left: 1.5rem;
    margin: 0;
}

.quoteCite {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: right;
    color: var(--ifm-color-emphasis-600);
}

.ctaSection {
    padding: 4rem 0;
    background-color: var(--ifm-background-color);
}

.sectionHeading {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.heroLottie {
    /* Ensure the Lottie animation scales and is centered */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    text-align: center;
  }
  .heroText {
      padding: 1rem;
  }
  .heroImageContainer {
      margin-top: 2rem;
  }
}
